<h1>All the tests from <%= current_user.name %>:</h1>

<%= link_to "Create New Test", new_test_path %>


<% @tests.each do |test| %>
  <h2>
    <%= test.title %>
  </h2>
  <ul>
    <li>
      <%= test.description %>
    </li>
    <li>
      <%= link_to "Edit", edit_test_path(test) %>
    </li>
    <li>
      <%= link_to "Delete", test_path(test), method: :delete %>
    </li>
  </ul>
<% end %>
