
<div class="col-12 no-padding mb-5">
  <%= image_tag("nubank_banner-8.jpg", class: "d-block w-75 banner-home", style: 'object-fit: cover; margin: 0 auto; height: 400px', alt: "Nubank") %>
</div>

<div class="container">

  <div class="col-sm-12 text-center mt-5 mb-5">
    <h2>Developers' Performance</h3>
  </div>


<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag "OverviewNew.png" %>
    </div>
    <div class="col-sm-6 mb-5">
     <%= image_tag "History.png" %>
    </div>
  </div>
</div>

<div class="col-sm-12 text-center mt-5 mb-5">
  <h3>The latest <strong>DevPassport developers</strong> who completed your tests</h3>
</div>

<div class="row justify-content-center">
  <div class="col-sm-8 mb-5">
    <div class="card-deck">

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Allan P. Turing</h5>
          <p class="card-text">"Clojure Test" - Out/2020</p>

        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Walter S. Jobs</h5>
          <p class="card-text">"React" - Nov/2020</p>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Vivian A. Gates</h5>
          <p class="card-text">"Clojure Test" - Nov/2020</p>
        </div>
      </div>


      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Paulo O. Musk</h5>
          <p class="card-text">"React" - Dez/2020</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-sm-12 text-center mt-5 mb-5">
  <h2>All your <strong>Dev Tests</strong> available</h3>
</div>

<div class="row mb-5">
  <% @tests.each do |test| %>
    <div class="col-sm-6 mb-5">
      <h2 style="color: orange" align-item: center>
        <%= test.title %>
      </h2>
      <h3>
        <%= test.seniority %>
      </h3>
      <p>
        <%= test.description %>
      </p>
    </div>
  <% end %>
</div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-sm-12 text-center">
    <h2>Create a new test</h2>
    <br>
    <h4> Choose the <strong>Back-End</strong> test language</h4>
    <div class="d-flex flex-wrap justify-content-center pt-4">

      <div class="clickable">
        <i class="fab fa-python"></i>
        <small>Python</small>
      </div>
      <div class="clickable">
        <i class="fab fa-node"></i>
        <small>Node js</small>
      </div>
      <div class="clickable">
        <i class="fab fa-java"></i>
        <small>Java</small>
      </div>
      <div class="clickable">
        <i class="fab fa-php"></i>
        <small>PHP</small>
      </div>
      <div class="clickable">
        <i class="fas fa-server"></i>
        <small>PostgreSQL</small>
      </div>
      <div class="clickable">
        <i class="fab fa-github-square"></i>
        <small>Github</small>
      </div>
    </div>

  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-sm-12 text-center" style="height: 300px">
    <h4>Choose the <strong>Front-End</strong> test language</h4>
    <div class="d-flex flex-wrap justify-content-center pt-4">

      <div class="clickable">
        <i class="fab fa-html5"></i>
        <small>HTML</small>
      </div>
      <div class="clickable">
        <i class="fab fa-css3-alt"></i>
        <small>CSS</small>
      </div>
      <div class="clickable">
        <i class="fab fa-js-square"></i>
        <small>JavaScript</small>
      </div>
      <div class="clickable">
        <i class="fab fa-react"></i>
        <small>React</small>
      </div>
      <div class="clickable">
        <i class="fab fa-vuejs"></i>
        <small>Vue js</small>
      </div>
      <div class="clickable">
        <i class="fab fa-angular"></i>
        <small>Angular</small>
      </div>
    </div>
  </div>

<div class="col-sm-12 text-center" style="height: 200px">
<div class="btn btn-primary btn-rounded">
  <%= link_to "Create New Test", new_test_path %>
</div>
</div>
