
<div class="dash-dashboard-company">

    <%= image_tag "logo-nubank-roxo-256.png", class: "dash-img rounded-circle" %>


  <div class="col-sm-6">
    <%= image_tag "Overview.png" %>
  </div>
  <br>
  <br>

   <div class="col-sm-6">
    <%= image_tag "Quarter Hires.png" %>
  </div>

<br>
<br>

  <div class="row">
    <div class="col-sm-8">
      <div class="card-deck">

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Latest Hires
          </div>
          <div class="card-body">
            <h5 class="card-title">Allan Paladino</h5>
            <p class="card-text">"Clojure Test" - Dez/2020</p>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Latest Hires
          </div>
          <div class="card-body">
            <h5 class="card-title">Walter Santos</h5>
            <p class="card-text">"React" - Nov/2020</p>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Latest Hires
          </div>
          <div class="card-body">
            <h5 class="card-title">Paulo Oliveira</h5>
            <p class="card-text">"React" - Nov/2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>


  <h1>All the tests your company:</h1>


  <div class="row">
    <% @tests.each do |test| %>
      <div class="col-sm-6">
        <h2>
          <%= test.title %>
        </h2>
        <h3>
          <%= test.seniority %>
        </h3>
        <p>
          <%= test.description %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="btn btn-primary btn-rounded">
    <%= link_to "Create New Test", new_test_path %>
  </div>
</div>


