
<div class="card-dash-box">

  <div class="d-flex card-dash-box-chart ">
    <div class="col-sm-6">
      <%= image_tag "Overview.png" %>
    </div>

     <div class="col-sm-6">
      <%= image_tag "Quarter Hires.png" %>
    </div>
  </div>

  <%#= image_tag "double-flat-pannel.jpg" %>
  <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
  <div class="card-trip-infos">
    <div>
      <h2>Nubank</h2>
      <p>Technologies applied!</p>
    </div>

    <h2 class="card-trip-pricing">£99.99</h2>
    <%= image_tag "logo-nubank-roxo-256.png", class: "card-trip-user avatar-bordered" %>

    <%= image_tag "react-logo.png", class: "avatar-large", alt: "avatar" %>
    <%= image_tag "python-logo.png", class: "avatar-large", alt: "avatar-large" %>
    <%= image_tag "postgre.png", class: "avatar-large", alt: "avatar-bordered" %>
    <%= image_tag "php-logo.png", class: "avatar-large", alt: "avatar-square" %>


  </div>
</div>










<div class="dash-dashboard-company">

  <%= image_tag "logo-nubank-roxo-256.png", class: "dash-img rounded-circle" %>

<div class="d-flex">
  <div class="col-sm-6">
    <%= image_tag "Overview.png" %>
  </div>

   <div class="col-sm-6">
    <%= image_tag "Quarter Hires.png" %>
  </div>
</div>

  <div class="row">
    <div class="col-sm-8">
      <div class="card-deck">

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Latest Hires
          </div>
          <div class="card-body">
            <h5 class="card-title">Allan Paladino</h5>
            <p class="card-text">"Clojure Test" - Dez/2020</p>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Latest Hires
          </div>
          <div class="card-body">
            <h5 class="card-title">Walter Santos</h5>
            <p class="card-text">"React" - Nov/2020</p>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Latest Hires
          </div>
          <div class="card-body">
            <h5 class="card-title">Paulo Oliveira</h5>
            <p class="card-text">"React" - Nov/2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <h1>All the tests your company:</h1>

  <div class="row">
    <% @tests.each do |test| %>
      <div class="col-sm-6">
        <h2>
          <%= test.title %>
        </h2>
        <h3>
          <%= test.seniority %>
        </h3>
        <p>
          <%= test.description %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="btn btn-primary btn-rounded">
    <%= link_to "Create New Test", new_test_path %>
  </div>
</div>
