
<div class="d-flex">
  <div class="row">
    <div class="col-12">
      <%= image_tag "logo-nubank-roxo-256.png", class: "dash-img rounded-circle" %>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">

  <div class="row">
    <div class="d-flex col-6" style="width: 500px"  >
      <%#= bar_chart(a: 3, b: 7, c: 9) %>
      <%= image_tag "Overview.png" %>
    </div>

    <div class="d-flex col-6" style="width: 500px"  >
      <%#= pie_chart(a: 3, b: 7) %>
      <%= image_tag "Quarter Hires.png" %>
    </div>
  </div>


  <div class="dash-dashboard-company mt-5">

    <h1>Latest Hires</h1>

    <h2>Allan Paladino</h5>
    <p>"Clojure Test" - Dez/2020</p>

    <h2>Walter Santos</h5>
    <p>"React" - Nov/2020</p>

    <h2>Paulo Oliveira</h5>
    <p>"React" - Nov/2020</p>
  </div>

  <h1>All the tests your company:</h1>

  <div class="row">
    <% @tests.each do |test| %>
      <div class="col-sm-6">
        <h2>
          <%= test.title %>
        </h2>
        <h3>
          <%= test.seniority %>
        </h3>
        <p>
          <%= test.description %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="btn btn-primary btn-rounded mb-5">
    <%= link_to "Create New Test", new_test_path %>
  </div>

</div>
<!-- </div>
</div> -->

<div class="row justify-content-center mt-5">
  <div class="col-sm-12 text-center">
    <h3>Select your favourite Back-End languages:</h3>
    <div class="d-flex flex-wrap justify-content-center pt-4">

      <div class="clickable">
        <i class="fab fa-python"></i>
        <small>Python</small>
      </div>
      <div class="clickable">
        <i class="fab fa-node"></i>
        <small>Node js</small>
      </div>
      <div class="clickable">
        <i class="fab fa-java"></i>
        <small>Java</small>
      </div>
      <div class="clickable">
        <i class="fab fa-php"></i>
        <small>PHP</small>
      </div>
      <div class="clickable">
        <i class="fas fa-server"></i>
        <small>PostgreSQL</small>
      </div>
      <div class="clickable">
        <i class="fab fa-github-square"></i>
        <small>Github</small>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-sm-12 text-center" style="height: 600px">
    <h3>Select your favourite Front-End languages:</h3>
    <div class="d-flex flex-wrap justify-content-center pt-4">

      <div class="clickable">
        <i class="fab fa-html5"></i>
        <small>HTML</small>
      </div>
      <div class="clickable">
        <i class="fab fa-css3-alt"></i>
        <small>CSS</small>
      </div>
      <div class="clickable">
        <i class="fab fa-js-square"></i>
        <small>JavaScript</small>
      </div>
      <div class="clickable">
        <i class="fab fa-react"></i>
        <small>React</small>
      </div>
      <div class="clickable">
        <i class="fab fa-vuejs"></i>
        <small>Vue js</small>
      </div>
      <div class="clickable">
        <i class="fab fa-angular"></i>
        <small>Angular</small>
      </div>
    </div>
  </div>
</div>
