
<div class="dash-dashboard-company">

    <%= image_tag "logo-nubank-roxo-256.png", class: "dash-img rounded-circle" %>

  <div class="">

    <%= image_tag "OVERVIEW.png" %>
  </div>
<br>

<div class="card-deck">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Aprovedd 2020</div>
    <div class="card-body">
      <h5 class="card-title">Carlos Santos</h5>
      <p class="card-text">"Agora posso realmente comprovar minhas habilidades!" - Fev/2020</p>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Aprovedd 2020</div>
    <div class="card-body">
      <h5 class="card-title">Carlos Santos</h5>
      <p class="card-text">"Agora posso realmente comprovar minhas habilidades!" - Fev/2020</p>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Aprovedd 2020</div>
    <div class="card-body">
      <h5 class="card-title">Carlos Santos</h5>
      <p class="card-text">"Agora posso realmente comprovar minhas habilidades!" - Fev/2020</p>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Aprovedd 2020</div>
    <div class="card-body">
      <h5 class="card-title">Carlos Santos</h5>
      <p class="card-text">"Agora posso realmente comprovar minhas habilidades!" - Fev/2020</p>
    </div>
  </div>
</div>
    <br>
    <h1>All the tests your company:</h1>
    <br>

  <div class="col-sm-6">
   <% @tests.each do |test| %>

    <h2>
      <%= test.title %>
      <%= test.seniority %>
    </h2>
      <p>
        <%= test.description %>
      </p>
   </div>
  <% end %>

    <button class="btn-dash">
      <%= link_to "Create New Test", new_test_path %>
    </button>

</div>


