<% def status_name(index) %>
<%  hash = { 0 => "payment pending", 1 => "payment approved", 2 => "test started", 3 => "test completed", 4 => "stamp granted", 5 => "stamp not granted" } %>
<%  return hash[index] %>
<% end %>


<h1>Dashboard</h1>

  <h2>This is you</h2>
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
    <li>CPF: <%= @user.cpf %></li>
  </ul>


<!-- STAMPS -->
<% stamps = @user.stamps.select { |stamp| stamp.status == 4 } %>

<% unless stamps.empty? %>
  <h2>These are your stamps!</h2>
<% end %>

<% stamps.each do |stamp|  %>
  <h3>
    <%= link_to stamp.test.title, stamp_path(stamp) %>
  </h3>
  <ul>
    <li>
      Status: <%= status_name(stamp.status) %>
    </li>
    <li>
      Start date: <%= stamp.start_date %>
    </li>
    <li>
      Deadline: <%= stamp.deadline_date %>
    </li>
    <li>
      <%= link_to "Click here to start your test", start_test_path(stamp), method: "post" %>
    </li>
  </ul>
<% end %>




<!-- TESTS NOT STARTED -->
<% stamps = @user.stamps.select { |stamp| stamp.status == 0 || stamp.status == 1 } %>

<% unless stamps.empty? %>
  <h2>Tests you haven't started yet:</h2>
<% end %>

<% stamps.each do |stamp|  %>
  <h3>
    <%= link_to stamp.test.title, stamp_path(stamp) %>
  </h3>
  <ul>
    <li>
      Status: <%= status_name(stamp.status) %>
    </li>
    <li>
      Start date: <%= stamp.start_date %>
    </li>
    <li>
      Deadline: <%= stamp.deadline_date %>
    </li>
    <li>
      <%= link_to "Click here to start your test", start_test_path(stamp), method: "post" %>
    </li>
  </ul>
<% end %>


<!-- OTHER TESTS -->
<% stamps = @user.stamps.select { |stamp| stamp.status != 0 && stamp.status != 1 && stamp.status != 4  } %>

<% unless stamps.empty? %>
  <h2>Other tests:</h2>
<% end %>

<% stamps.each do |stamp|  %>
  <h3>
    <%= link_to stamp.test.title, stamp_path(stamp) %>
  </h3>
  <ul>
    <li>
      Status: <%= status_name(stamp.status) %>
    </li>
    <li>
      Start date: <%= stamp.start_date %>
    </li>
    <li>
      Deadline: <%= stamp.deadline_date %>
    </li>
    <li>
      <%= link_to "Click here to start your test", start_test_path(stamp), method: "post" %>
    </li>
  </ul>
<% end %>
