<div class="container">
  <h1 class="text-center">
    These are the <%= @visa.title %> tests
  </h1>

  <% @visa.tests.each do |test| %>

    <div class="card-test d-flex bg-dark">

      <%= cl_image_tag test.user.avatar.key, class: "", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

      <div class="flex-grow-1">
        <h2>
          <%= test.user.name  %> - <%= test.title %>
        </h2>
        <p>
          <%= test.description %>
        </p>
      </div>

      <div class="mr-3 details">
        <p class="">Seniority Level: <%= test.seniority %></p>
        <p>Price: R$ <%= test.price %>,00 </p>
        <%= link_to "Comprar", stamp_create_path(user: current_user, test: test), method: :post, class:"btn btn-primary btn-small" %>
      </div>

    </div>
  <% end %>
</div>

  <!-- <div class="card-trip">
    <#%= image_tag("keyb-banner.jpg", style: 'object-fit: cover') %>
    <div class="card-trip-infos">
      <div>
        <h2><#%= test.title %></h2>
        <ul>
          <li>Author: <#%= test.user.name  %></li>
          <li>Description: <#%= test.description %></li>
          <li>Seniority: <#%= test.seniority %></li>
          <#%= link_to "Comprar", stamp_create_path(user: current_user, test: test), method: :post, class:"btn btn-primary" %>
        </ul>
      </div>
      <h2 class="card-trip-pricing"><#%= test.price %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

</div>
 -->

