  <%= link_to "Back", visas_path %>

  <% @visa.tests.each do |test| %>
    <h2><%= test.title %></h2>
    <ul>
      <li>Author: <%= test.user.name  %></li>
      <li>Description: <%= test.description %></li>
      <li>Seniority: <%= test.seniority %></li>
        <%= link_to "Comprar", stamp_create_path(user: current_user, test: test), method: :post, class:"btn btn-primary" %>
    </ul>
  <% end %>
