<h1></h1>
<ul>
  <li>
    <%= @stamp.user.name %>
  </li>
  <li>
    <%= @stamp.test.title %>
  </li>
  <li>
    Issuing date: <%= @stamp.issuing_date %>
  </li>
  <li>
    Expiration date: <%= @stamp.expiration_date %>
  </li>
  <li>

  </li>
    <%= link_to "Choose the reviewer and start the test!", code_review_path(@stamp.code_review) %>
  <li>

  </li>
</ul>

