
<ul>
  <li>
    <%= @stamp.user.name %>
  </li>
  <li>
    <%= @stamp.test.title %>
  </li>
  <li>
    Issuing date: <%= @stamp.issuing_date %>
  </li>
  <li>
    Expiration date: <%= @stamp.expiration_date %>
  </li>
</ul>

<h1>Choose your reviewer:</h1>
<%= simple_form_for(@stamp) do |f| %>
  <%= f.input :issuing_date %>
<%= f.submit %>
<% end %>
