
<div class="container">
  <img src=" https://blog-geek-midia.s3.amazonaws.com/wp-content/uploads/2019/01/11142058/programador-front-end-1024x579.jpg" alt="">

  <h1 class="mt-5">This is your stamp</h1>

  <ul>
    <li>
      <%= @stamp.user.name %>
    </li>

    <li>
      <%= @stamp.test.title %>
    </li>
  </ul>


  <h2>Instructions:</h2>

  <p>
    When you click Start, you will have 7 calendar days to complete the test. A link to the GitHub repository where the test is will be opened and you must fork it. Follow the instructions in the readme to complete it. Let's code!
  </p>


  <p><%= @stamp.status %></p>

  <%if @stamp.status < 2%>
  <%= link_to "Click here to start your test", start_test_path, method: "post", class: "btn btn-primary"%>
  <%else%>
  <%= link_to  "Finish test", '#', class: 'btn btn-danger' %>
  <%end%>
  <!-- mudar status de 1 para 2 -->
  <!-- se status = 2 -->

  <!-- mostrar aqui formulario para test_answer -->
  <!-- mostrar submit button -->
  <!-- mostrar data limite para terminar o teste -->
  <!-- mudar status para 3 -->
  <%if @stamp.status == 2 %>
  <div class="">
    <p>You have until <%= 7.days.from_now.strftime("%Y-%m-%d") %> to finish the project! </p>
    <p>
      Teste: <a href="<%= @stamp.test.link%>" target="blank">Click here to open your test</a>
    </p>
  </div>
  <%end%>
</div>
<br>
<br>
<br>
<br>
<br>
<br>




<!-- se status = 3 -->
<!-- mostrar avaliação pending -->

<!-- se status = 4 -->
<!-- mostrar resultado da avaliação // feedback // tela com parabéns lalala -->



<!-- se usuario for admin -->
<!-- mostrar form pra inserir feedback -->
<!-- quando submit, mudar -->