
<%= content_for(:navbar_class, "navbar-home") %>

<div class="background">
<div class="d-flex justify-content-around banner" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'double-flat-pannel.jpg' %>)">
  <div>
    <h1>DevPassport</h1>
    <p>The best way to be approved in the main technologies companies of the world!</p>
  </div>
</div>

  <div class="text-center mt-5">
    <h1>
      ... pain in the real world!
    </h1>
  </div>

  <div class="container">
    <div class="row mt-5">

      <div class="col-sm-6 col-lg-6">
        <%= image_tag("pain_rasta_1.jpg", height: '320', width: '520') %>
      </div>

      <div class="col-sm-6 col-lg-6 text-center mt-2">
        <h3>
          What a heck!!
        </h3>
        <p>
          The most of challenges  sent by the companies to the candidates is very similar, with a few or no changes!
        </p>
      </div>
    </div>

    <div class="row mt-5">

      <div class="col-sm-6 col-lg-6 text-center mt-2">
        <h3>
          Repeatable challenges again!
        </h3>
        <p>
          The same challenge again...
          But, the candidate's ability tests are the same, waste of time... dammm!
        </p>
      </div>

      <div class="col-sm-6 col-lg-6">
        <%= image_tag("girl-hyper-upset.jpg", height: '320', width: '520', style: 'object-fit: cover;') %>
      </div>

    </div>

<!-- <div class="d-flex justify-content-center mt-4"> -->
  <div class="text-center mt-5">
    <h1>
      We have the solution.
    </h1>
    <h2>DevPassport Visas!</h2>
  </div>


<div class="container">
  <div class="cards">

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'blue-keyb.jpg' %>)">
      Back-end
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'double.jpg' %>)">
      Front-end
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'matrix.jpg' %>)">
      Full-stack
    </div>

  </div>
  <div class="d-flex justify-content-center mt-4">
    <%= link_to "View all our visas", visas_path, class: "btn btn-flat" %>
  </div>

</div>

<h2 class="text-center mt-5">How it works</h2>

<div class="cards_undraw mt-3">

  <div class="card_undraw">
    <%= image_tag "undraw_static_assets_rpm6.png", style: 'object-fit: cover;' %>
    <h4>Choose your stamps</h4>
    <p>Realize several tests with the main technologies.</p>
  </div>

  <div class="card_undraw">
    <%= image_tag "undraw_programming_devpass.png", style: 'object-fit: cover;' %>
    <h4>Code your test</h4>
    <p>Have enough time to accomplish the challengers.</p>
  </div>

  <div class="card_undraw">
    <%= image_tag "undraw_code_review_l1q9.png", style: 'object-fit: cover;' %>
    <h4>Code reviewer</h4>
    <p>Choose the most famous developers to review your code.</p>
  </div>

<div class="card_undraw">
    <%= image_tag "undraw_dashboard_nklg.png", style: 'object-fit: cover;' %>
    <h4>User Dashboard</h4>
    <p>Personalize your own dashboard with stamps that you get it!</p>
  </div>

  <div class="card_undraw">
    <%= image_tag "undraw_winners_ao2o.png", style: 'object-fit: cover;' %>
    <h4>Enjoy & Celebrate!</h4>
    <p>No more repeatable coding test.</p>
  </div>

</div>

<div class="d-flex justify-content-around banner" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'success_table.jpg' %>)">
  <div>
    <h1>Success!</h1>
    <p>Be accept to work in the most companies of the world with one test only!</p>
  </div>
</div>
</div>
