<div class="d-flex justify-content-around banner" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'golden-gate-front.jpg' %>)">
  <div>
    <h1>DevPassport</h1>
    <p>The best way to be approved in the main technologies companies of the world!</p>
    <%= link_to "View all our visas", visas_path, class: "btn btn-flat" %>
  </div>
</div>

  <div class="container">
    <div class="d-flex justify-content-center mt-4">

      <div class="about-box">
        <%= image_tag("pain_rasta_1.jpg", height: '320', width: '520') %>
        <h3 class="text-center mt-2">Wonderful islands around the world</h2>
          <p class="text-center">
            MySland offers you exclusive private islands in exclusive places like the Caribbean, the French Riviera and the Italian coastline. You can book for a single weekend or for the whole summer.
          </p>
      </div>

      <div class="about-box">
        <%= image_tag("girl-hyper-upset.jpg", height: '320', width: '520', style: 'object-fit: cover;') %>
        <h3 class="text-center mt-2">Privacy and a unique experience</h2>
          <p class="text-center">
            You'll have the entire island for yourself. MySland also offers concierge services so you don't have to worry about anything: transportation, supplies and staffing are all handled for you.
          </p>
      </div>
    </div>

<div class="container mt-5">
  <div class="cards">

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'blue-keyb.jpg' %>)">
      Back-end
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'girl-analytics.jpg' %>)">
      Front-end
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'double.jpg' %>)">
      Full-stack
    </div>

  </div>
</div>

<!-- <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> -->

<h2 class="text-center mt-5">How it works</h2>

<div class="cards_undraw mt-3">

  <div class="card_undraw">
    <%= image_tag "undraw_code_review_l1q9.png", style: 'object-fit: cover;' %>
    <h4>Code review</h4>
    <p>Choose the most famous developers to review your code.</p>
  </div>

  <div class="card_undraw">
    <%= image_tag "undraw_static_assets_rpm6.png", style: 'object-fit: cover;' %>
    <h4>Apply for coding tests</h4>
    <p>Realize several tests with the main technologies.</p>
  </div>

<div class="card_undraw">
    <%= image_tag "undraw_dashboard_nklg.png", style: 'object-fit: cover;' %>
    <h4>Dashboard</h4>
    <p>Personalize your own dashboard with stamps of the main technologies companies of the world!</p>
  </div>

  <div class="card_undraw">
    <%= image_tag "undraw_flutter_dev_wvqj.png", style: 'object-fit: cover;' %>
    <h4>Arrive and enjoy!</h4>
    <p>Your host is only a message away if you have any questions. They can also offer local tips and advice.</p>
  </div>

  <div class="card_undraw">
    <%= image_tag "undraw_winners_ao2o.png", style: 'object-fit: cover;' %>
    <h4> Enjoy your journey and Celebrate!</h4>
    <p>No more repeated coding test.</p>
  </div>

</div>

<div class="d-flex justify-content-around banner" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(<%= image_path 'success_table.jpg' %>)">
  <div>
    <h1>Journey accomplished!</h1>
    <p>Be accept to work in the most companies of the world!</p>
  </div>
</div>
