<div class="row justify-content-center p-5">
  <div class="col-md-6">
    <div>
      <div class="p-3 border bg-light">

      <h1>Register your test:</h1>

      <%= simple_form_for(@test) do |f| %>

      <%= f.input :title %>

      <%= f.input :description %>

      <%= f.input :seniority, collection: ["junior", "pleno", "senior"] %>

      <%= f.input :visa_id, collection: Visa.all, include_blank: false %></div>

        <div class="form-actions">
          <%= f.button :submit, "Create", class:"btn btn-primary"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>




